#alertBackground {
    display: flex;
    align-items: center;
}

@keyframes alertAnimaion{
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 1rem;
        opacity: 1;
    }   
}


@keyframes reverse_alertAnimaion{
    from {
        top:1rem;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }   
}

/*------------------ animation -----------------------*/
header.alertParent {
    position: fixed;
    width: 100%;
    left: 0;
    justify-content: center;
    height: 50px;
    z-index: 20;
    animation: alertAnimaion 0.7s ease-in-out forwards;
}

header.reverse_alertParent {
    position: fixed;
    width: 100%;
    left: 0;
    justify-content: center;
    height: 50px;
    z-index: 20;
    animation: reverse_alertAnimaion 0.7s ease-in-out forwards;
}

/*------------------ animation -----------------------*/

div.alertBox {
    width: 200px;
    background-color: #CDE8FA;
    border: 1.5px solid #52b4f6;
    justify-content: space-evenly;
    height: inherit;
    border-radius: 10px;
}

span.left_area {
    font-size: 15px;
    color: white;
}

img.right_area {
    width: 30px;
}